#ecosystem-main-container {
  margin: 10px 0;
}
#ecosystems-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.ecosystem-image {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}
.ecosystem-card {
  background-color: white;
  width: calc(50% - 10px);
  padding: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.ecosystem-details {
  font-size: 10px;
  margin-top: 5px;
  font-weight: 400;
}
@media screen and (min-width: 700px) {
  #ecosystem-main-container {
    margin: 20px 0;
  }
  .ecosystem-card {
    width: calc(33.3% - 10px);
  }
  .ecosystem-details {
    font-weight: 500;
  }
}
