#how-title {
  text-align: center;
  color: white;
  font-weight: 400;
}
.step-one {
  border: 2px dotted white;
  border-top: 3px solid white;
}
.step-two {
  border: 2px dotted white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
.step-three {
  border: 2px dotted white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
.step-four {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
#progress-container {
  height: 300px;
  border-radius: 50%;

  margin: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  cursor: pointer;
  width: 300px;
  margin: 20px auto;
  transition: border-top 3s ease-in, border-left 3s ease-in,
    border-right 3s ease-in, border-bottom 3s ease-in;
}

#steps-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#step-title {
  font-size: 26px;
  text-align: center;
}
#step-details {
  font-size: 14px;
  margin: 0 20px;
  text-align: center;
}

#chains-details-main-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 1px;
}
#chains-details-card {
  background-color: white;
  color: black;
  width: 100%;
  padding: 20px;
  height: calc(150px - 40px);
  display: flex;
  justify-content: end;
  flex-direction: column;
  cursor: pointer;
}
#chains-details-card:hover {
  background-color: var(--primary-color);
}

#chains-details-card > p {
  font-size: 16px;
}
#chains-details-card > h6 {
  font-size: 25px;
}

@media screen and (min-width: 700px) {
  #how-title {
    font-size: 25px;
  }
  #progress-container {
    width: 410px;
    height: 410px;
  }
  #chains-details-main-container {
    flex-direction: row;
    padding: 20px 70px;
  }
  #chains-details-card {
    width: auto;
    flex: 1;
    height: 200px;
  }
  #chains-details-card > h6 {
    font-size: 22px;
  }
}

@media screen and (min-width: 1000px) {
  #how-title {
    font-size: 35px;
  }
}
