#app-main-container {
  display: flex;
  flex-direction: column;
}
#body-content {
  /* background-color: red; */
  padding: 10px;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  #app-main-container {
    flex-direction: row;
  }
  #body-content {
    height: calc(100vh - 70px);
    width: calc(100vw - 200px);
  }
}
