.drop-down-item-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 3px 0;
}
.drop-down-name {
  color: black;
}
.drop-down-icon {
  height: 30px;
  width: 30px;
}
