#mobile-top-bar {
  background-color: #d9d9d9;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
#app-main-body {
  background-color: #0c111d;
}
#menu-main-item-container {
  background-color: #d9d9d9;

  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: opacity 1s ease-in;
  z-index: 2;
}

.show-menu {
  visibility: visible;
  opacity: 1;
}
.hide-menu {
  opacity: 0;
  visibility: hidden;
}
#menu-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  padding: 10px;
}
#action-layer {
  width: 100%;
  height: 100%;
}
#outter-layer {
  height: calc(100vh - 50px);
}

@media screen and (min-width: 1000px) {
  #mobile-top-bar {
    display: none;
  }
  #menu-main-item-container {
    position: relative;
    width: 200px;
    max-height: none;
    border-radius: 0;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    padding: 10px;
    padding-top: 30px;
    transition: none;
  }
  #menu-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  #outter-layer {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  #action-layer {
    flex: 2;
  }
}
